<div class="flex-column set-center" style="height: auto;">
  <h1> Employees </h1>
  <% if session[:user_id] %>
    <%= link_to "Sign out", session_path(id: "sign_out"), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <!-- Error Message -->
  <% if flash[:errors] %>
    <% flash.each do |name, message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>

  <!-- Employee Table -->
  <div id="employee-table" data-employees-url="<%= employees_path(format: :json) %>">
    <table class="table table-info table-striped fs-5">
      <thead class="table-secondary">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Hobbies</th>
          <th class="text-center" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- จะถูกเติมข้อมูลโดย JavaScript -->
      </tbody>
    </table>
  </div>
</div>

